.app_basic {
  overflow-y: scroll;
  padding: 10px;
  height: 100vh;
  transition: all 0.25s linear;
}

.app__dark {
  background-color: black;
}

.app__light {
  background-color: white;
}

.head_dark {
  color: var(--clr-primary-4);
}

.head_light {
  color: var(--clr-primary-1);
}

body::-webkit-scrollbar {
  display: none;
}
